<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head" ) %>

    <body>

        <%- include("../partials/header" ) %>
        
      <nav>
      
        </nav>

                <main>
                    <img src="./img/fondo1.jpeg" class="fondo">
                    <section class="informacion">
                        <div class="cajita-información">
                            <i class="fa-solid fa-truck-fast"></i>
                            <h5>Envios a todo el pais</h5>
                        </div>
                        <div class="cajita-información">
                            <i class="fa-regular fa-credit-card"></i>
                            <h5>Facilidad de pago y financiamiento</h5>
                        </div>
                        <div class="cajita-información">
                            <i class="fa-regular fa-handshake"></i>
                            <h5>Atención personalizada</h5>
                        </div>
                        <div class="cajita-información">
                            <i class="fa-solid fa-check"></i>
                            <h5>Tecnología de Vanguardia </h5>
                        </div>
                    </section>

                    <h2 class="titulares">Nuestros productos</h2>
                    <section>
                        <% products.forEach(product => { %>
                            <% if(product.product_condition === "Nuevo" ) { %>
                        <article class="producto">

                            <a href="/products/<%=product.product_id%>/detail">  <img src="/img/products/<%=product.image%>" width="300px"> </a>
                            <div class="detalle-producto">
                                <p class="nuevo"><%= product.product_condition %></p>
                                <div class="valor">
                                    <p class="precio">$<%= product.product_price %></p>

                                </div>
                                <% if(product.product_price<= 2000000) { %>
                                    <p class="envio">Envios a todo el pais</p>
                                <% }; %>
                                
                                <strong class="descripcion"> <%= product.name %></strong>
                                        </div>
                        </article>
                        <% }; %>
                        <%}) %>  
                        <!-- <article class="producto">

                            <img src="./img/hacha_de_pico.png" width="300px">
                            <div class="detalle-producto">
                                <p class="nuevo"> Nuevo</p>
                                <div class="valor">
                                    <p class="precio"> $24589</p>

                                </div>
                                <p class="envio">Envios a todo el pais</p>
                                <strong class="descripcion">Hacha de pico Bahco Mango Fibra Vidrio</strong>
                            </div>
                        </article>
                        <article class="producto">

                            <img src="./img/motosierra_niwa.png" width="300px">
                            <div class="detalle-producto">
                                <p class="nuevo"> Nuevo</p>
                                <div class="valor">
                                    <p class="precio"> $104.620</p>

                                </div>
                                <p class="envio">Envios a todo el pais</p>
                                <strong class="descripcion">Motosierra Niwa </strong>
                            </div>
                        </article>
                        <article class="producto">

                            <img src="./img/autoelevador_diesel.jpg" width="300px">
                            <div class="detalle-producto">
                                <p class="nuevo"> Nuevo</p>
                                <div class="valor">
                                    <p class="precio"> $7.049.916</p>

                                </div>
                                <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                                <strong class="descripcion">Autoelevador Diesel Motor Chino 3000kg</strong>
                            </div>
                        </article>
                        <article class="producto">

                            <img src="./img/acoplado_tanque.jpg" width="300px">
                            <div class="detalle-producto">
                                <p class="nuevo"> Nuevo</p>
                                <div class="valor">
                                    <p class="precio"> $8.500.000</p>

                                </div>
                                <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                                <strong class="descripcion">Acoplado Tanque 3000 Lts Conese</strong>
                            </div>
                        </article>
                        <article class="producto">

                            <img src="./img/moledora_mixer.jpg" width="300px">
                            <div class="detalle-producto">
                                <p class="nuevo"> Nuevo</p>
                                <div class="valor">
                                    <p class="precio"> $4.649.840</p>

                                </div>
                                <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                                <strong class="descripcion">Moledora Mixer Loyto Nº6/V-3500 C/sinfin De Descarga
                                    Rigido</strong>
                            </div>
                        </article>
                        <article class="producto">

                            <img src="./img/retroexcavadora.png" width="300px">
                            <div class="detalle-producto">
                                <p class="nuevo"> Nuevo</p>
                                <div class="valor">
                                    <p class="precio"> Precio a consultar</p>

                                </div>
                                <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                                <strong class="descripcion">Retroexcavadora Mo350 Oberto</strong>
                            </div>
                        </article>
                        <article class="producto">

                            <img src="./img/casilla.jpg" width="300px">
                            <div class="detalle-producto">
                                <p class="nuevo"> Nuevo</p>
                                <div class="valor">
                                    <p class="precio"> Precio a consultar</p>

                                </div>
                                <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                                <strong class="descripcion">Casilla 5x2.60mts, 2 ejes, 1 habitación</strong>
                            </div>
                        </article> -->
                    </section>
                    <h2 class="titulares">Ofertas</h2>
                    <section>
                        <% products.forEach(product => { %>
                            <% if(product.product_condition === "Oferta" ) { %>
                        <article class="producto">

                            <a href="/products/<%=product.product_id%>/detail">  <img src="/img/products/<%=product.image%>" width="300px"> </a>
                            <div class="detalle-producto">
                                <p class="oferta"><%= product.product_condition %></p>
                                <h5 class="precio-anterior">$<%= product.product_price %></h5><b class="off"> - <%= product.product_discount %>% OFF</b>
                                <div class="valor">
                                    <p class="descuento"> $<%= Math.round(((product.product_price)* ((100 - product.product_discount)/100 )), -2) %></p>
                                    <!-- <p class="descuento">5%</p> -->
                                </div>
                                <% if(product.product_price<= 2000000) { %>
                                    <p class="envio">Envios a todo el pais</p>
                                <% }; %>
                                <strong class="descripcion"><%= product.name %></strong>
                            </div>
                        </article>
                        <% }; %>
                        <%}) %>  

                    </section>
                    <h2 class="titulares">Convenios y Servicios</h2>
                    <section class="informacion">
                        <div class="cajita-información">
                            <img src="./img/agro_nacion.jpg">
                            <h5>AGRONACIÓN</h5>
                        </div>
                        <div class="cajita-información">
                            <img src="./img/mercadopago.png" alt="">
                            <h5>MERCADOPAGO</h5>
                        </div>
                        <div class="cajita-información">
                            <img src="./img/trigo.jpg">
                            <h5>CANJE CEREAL</h5>
                        </div>
                        <div class="cajita-información">
                            <img src="./img/santander.png">
                            <h5>SANTANDER RIO</h5>
                        </div>
                    </section>
                    <h2 class="titulares">Categorias Populares</h2>
                    <section class="informacion">
                        <div class="cajita-información">
                            <img src="./img/dibujo_maquina.jpg">
                            <h5>Maquinaria Agricola</h5>
                        </div>
                        <div class="cajita-información">
                            <img src="./img/jardineria.jpg">
                            <h5>Jardineria</h5>
                        </div>
                        <div class="cajita-información">
                            <img src="./img/hombre-con-motosierra.jpg">
                            <h5>Forestación</h5>
                        </div>
                        <div class="cajita-información">
                            <img src="./img/herramientas.jpg">
                            <h5>Herramientas</h5>
                        </div>
                        <div class="cajita-información">
                            <img src="./img/pulverizador.jpg">
                            <h5>Pulverizacion</h5>
                        </div>
                        <div class="cajita-información">
                            <img src="./img/pulverizador.jpg">
                            <h5>Productos en oferta</h5>
                        </div>
                    </section>
                </main>

                <%- include("../partials/footer") %>
    </body>

</html>