<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Catalogo.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Listado de Productos</title>
</head>

<body>

    <%- include("../partials/header") %>

        <main>
            <!--    <section class="filter-menu">
            <h2>Filtro</h2>

            <form action="">
                <div class="Categorias-filtro">
                    <label>Ordenar por</label>
                    <select name="" id="">
                        <option value="">Lorem</option>
                        <option value="">Lorem</option>
                        <option value="">Lorem</option>
                        <option value="">Lorem</option>
                        <option value="">Lorem</option>
                    </select>
                </div>

                <br>

                <div class="Categorias-filtro">
                    <label>Marca</label>
                    <br>
                    <input type="checkbox" name="#">Lorem</input>
                    <br>
                    <input type="checkbox" name="#">Lorem</input>
                    <br>
                    <input type="checkbox" name="#">Lorem</input>
                    <br>
                    <input type="checkbox" name="#">Lorem</input>
                    <br>
                    <input type="checkbox" name="#">Lorem</input>
                    <br>
                    <input type="checkbox" name="#">Lorem</input>
                </div>


            </form> 
         </section> -->
        <a href="/products/createProduct" class="nuevos-productos"> Agregar producto </a>


            <section class="catalogo-main">

                <% products.forEach(product=> { %>
                    <article class="producto">

                        <a href="/products/<%=product.product_id%>/detail"> <img src="/img/products/<%=product.image%>" width="300px"></a>

                            <div class="detalle-producto">
                                <p class="nuevo"> <%= product.product_condition %></p>
                                <div class="valor">
                                    <p class="precio"> $ <%= product.product_price %></p>

                                </div>
                                <p class="envio">Envios a todo el pais</p>
                                <strong class="descripcion"> <%= product.name %></strong>
                            </div>
                        </article>
                       
                
                    <%}) %>
                      

            </section>
        </main>

        <%- include("../partials/footer") %>

</body>

</html>