<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Detalle del producto</title>
</head>
<body>
    <%- include("../partials/header") %> 
    <h3 class="container-title"> Detalle del producto <%= product.product_id %></h3>
    <main>
        <div class="container-img">
            <img src="/img/products/<%=product.image%>" alt="imagen-product">
        </div>
        <div class="container-info-producto">
            <div class="container-name">
                <h3><%=product.name %></h3>
            </div>
            <div class="container-price">
                <span> $<%= product.product_price %></span>
            </div>
            <div class="container-descrip-productos"> 
               <h3> Carcateristicas del Producto</h3>
               <p> <%= product.description %></p>  
               <p> <%= product.brand_code %></p> 
            </div>
            <div class="container-add-cart">
                <div class="container-quantity">
                    <input type="number" placeholder="1" value="1" min="1" class="input-quantity">
                </div>
            <button class="b-add-to-cart"> + A침adir al carrito</button>
            </div>
           <div class="container-send">
            
           <% if(product.product_price<= 2000000) { %>
            <i class="fa-solid fa-truck-fast"> </i>
           <span> Envios a todo el pais</span>
            <!-- <p class="envio">Envios a todo el pais</p> -->
        <% }; %>
        </div>
        <div class="container-price-iva">
            <span> Precios finales Iva incluido</span>
        </div>
        <br>
        <div class="contact">
        <a href="/home/contact"><p>Para m치s informaci칩n, cont치ctanos!</p></a>
        </div>
        <form action="/products/<%= product.product_id %>/delete?_method=delete" method="post">
            <input type="submit" value="Eliminar producto" class="eliminate"></input>
          </form>
          <br>
          <a href="/products/<%= product.product_id %>/update">
            <button >Editar producto</button> 
          </a>
        </div> 
        
    </main>
    <%- include("../partials/footer")  %>
</body>
</html>