<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Editar producto</title>
</head>
<body>
    <%- include("../partials/header") %>  
    
    <main>
        <section class="form-edition">
        <form action="/products/<%= product.id %>/update?_method=put" method="post">
            <h4>Editar Producto</h4>
           
                <input class="controls" type="text" name="name" value="<%=product.name%>" >
       
                <input class="controlsD" type="textt" name="description" value="<%=product.description%>">
            
                <input class="controls"  type="text" name="price" value="<%=product.price%>">
           
                <input class="controls"  type="file" name="img"  value="<%=product.img%>">
           
                <input class="botonsE" type="submit" value="Guardar cambios"></input>
           
        </form>
        </section>
        
     </main>
      <%- include("../partials/footer")  %> 
    </body>
</html>