<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Usuarios</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/listUsers.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="user-info">
         <% users.forEach( user => { %> 
                <article class="container-info">
                    <div class="container-image">
                        <% if(user.avatar) {%>
                            <img class="user-image" src="/img/user <%=user.avatar%>" alt="Imagen de perfil del usuario">
                        <% } else { %>
                                <img class="user-image" src="/img/user/avatar.default.png" alt="Imagen de perfil del usuario">
                        <% } %>
                    </div>
                    <div class="user-detail">
                        <p> <b>user: </b> <%=user.userName%></p>
                        <p> <b>Nombre: </b> <%=user.firstName%></p>
                        <p> <b>Apellido: </b> <%=user.lastName%></p>
                        <p> <b>Email: </b> <%=user.email%></p>
                        <p> <b>Telefono: </b> <%=user.phone%></p>
                        <p> <b>Condición: </b> <%=user.type%></p>
                    </div>
                    <div class="container">
                        <form action="/user/<%= user.id %>/update" class="form">
                            <button class="user-edit" type="submmit">
                                Editar perfil
                            </button>
                        </form>
                            <form action="/user/<%= user.id %>/delete" class="form">
                                <button class="user-eliminar" type="submmit">
                                    Eliminar
                                </button>
                            </form> 
                        
                    </div>
                </article>
            <% }); %>
        </section>
    </main>
    <hr>
    <%- include('../partials/footer') %>
</body>
</html>
