<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/listUsers.css">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
       
    <title>Usuarios</title>
    
  
</head>
<body>
   <%- include('../partials/header') %>   
    <main>
        <section class="user-info">
         <% customers.forEach( customer => { %> 
                <article class="usuario-list">
                    <div class="container-image">
                        <% if(customer.image) {%>
                            <img class="user-image" src="/img/user/<%=customer.image%>" alt="Imagen de perfil del usuario">
                        <% } else { %>
                                <img class="user-image" src="/img/user/avatar.default.png" alt="Imagen de perfil del usuario">
                        <% } %>
                    </div>
                    <div class="user-detail"> 
                        <p> <b>Nombre: </b> <%=customer.customer_name%></p>
                        <p> <b>Apellido: </b> <%=customer.customer_lastName%></p>
                        <p> <b>Género: </b> <%=customer.customer_gender%></p>
                        <p> <b>Email: </b> <%=customer.customer_email%></p>
                        <p> <b>Fecha de nacimiento: </b> <%=customer.customer_birthdate%></p>
                        <p> <b>Pais: </b> <%=customer.customer_country%></p>
                        <p> <b>Telefono: </b> <%=customer.customer_phone%></p>
                        <p> <b>Condición: </b> <%=customer.customer_type%></p>
                    </div>
                    <br>
                    <div class="container-list">
                        <form action="/user/<%= customer.customer_id %>/update" class="form">
                            <button class="user-edit" type="submmit">
                                Editar perfil
                            </button>
                        </form>
                            <form action="/user/<%= customer.customer_id %>/delete?_method=DELETE" method="POST" class="form">
                                <button class="user-eliminar" type="submmit">
                                    Eliminar
                                </button>
                            </form> 
                        
                    </div>
                </article>
            <% }); %>
        </section>
    </main>
    
    <%- include('../partials/footer') %>  
</body>
</html>
