<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Registro</title>
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <div class="container">
                <div class="title">Iniciar sesión</div>
                <form action="/user/registro" method="POST" enctype="multipart/form-data">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details"> Nombre completo</span>
                            <input 
                            name="customer_name" 
                            type="text" 
                            placeholder="Enter your name" 
                            required
                            class= "<%= locals.errors && errors.customer_name ? "is-invalid" : null  %> "
                            value="<%= locals.oldData? oldData.customer_name : null %> "
                            > 
                            <% if(locals.errors && errors.customer_name) { %>
                                <div class="text-danger">
                                    <%= errors.customer_name.msg %> </div>
                           <% } %>  
                        </div>
                        <div class="input-box">
                            <span class="details">Apellido</span>
                            <input 
                            name="customer_lastName" 
                            type="text" 
                            placeholder="Enter your surname" 
                            required
                            class= "<%= locals.errors && errors.customer_lastName ? "is-invalid" : null  %> "
                            value="<%= locals.oldData? oldData.customer_lastName : null %> "
                            > 
                            <% if(locals.errors && errors.customer_lastName) { %>
                                <div class="text-danger">
                                    <%= errors.customer_lastName.msg %> </div>
                           <% } %>  
                        </div>
                        <div class="input-box">
                            <span class="details">Correo electronico</span>
                            <input name="customer_email" 
                            type="email" 
                            placeholder="Enter your email" 
                            required
                            class= "<%= locals.errors && errors.customer_email ? "is-invalid" : null  %> "
                            value="<%= locals.oldData? oldData.customer_email : null %> "
                            > 
                            <% if(locals.errors && errors.customer_email) { %>
                                <div class="text-danger">
                                    <%= errors.customer_email.msg %> </div>
                           <% } %>  
                        </div>
                        <div class="input-box">
                            <span class="details">Teléfono</label>
                                <input name="customer_phone" 
                                type="tel" 
                                placeholder="Enter your phonenumber"
                                class= "<%= locals.errors && errors.customer_phone ? "is-invalid" : null  %> "
                                value="<%= locals.oldData? oldData.customer_phone : null %> "> 
                            <% if(locals.errors && errors.customer_phone) { %>
                                <div class="text-danger">
                                    <%= errors.customer_phone.msg %> </div>
                           <% } %>  
                        </div>
                        <div class="input-box">
                            <span class="details">Contraseña</span>
                            <input name="password" 
                            type="text" 
                            placeholder="Enter your password" 
                            required
                            class= "<%= locals.errors && errors.password ? "is-invalid" : null  %> "> 
                            <% if(locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %> </div>
                           <% } %>  
                        </div>
                        <div class="input-box">
                            <span class="details">Confirmar Contraseña</span>
                            <input name="confirmPassword" 
                            type="text" 
                            placeholder="Confirm your password" 
                            required
                            class= "<%= locals.errors && errors.confirmPassword ? "is-invalid" : null  %> "> 
                            <% if(locals.errors && errors.confirmPassword) { %>
                                <div class="text-danger">
                                    <%= errors.confirmPassword.msg %> </div>
                           <% } %>  
                        </div>
                        <div class="input-box">
                            <span class="details">Ingresa tu foto</span>
                            <input type="file" name="image" >
                        </div>
                    </div>
                    <div class="condición-details">
                        <label> <b>Pais de nacimiento: </b>  </label>
                        <select name="customer_country">
                            <option value="Argentina">Argentina</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Chile">Chile</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Otro">Otro</option>
                        </select>
                        
                        
                        <label> <b>Sexo: </b>  </label>
                        <select name="customer_gender">
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                            
                        </select>
                        <br>
                        <br>
                        <label>
                             <b>Fecha de Nacimiento: </b>  
                            </label>
                        <input type="date" name="customer_birthdate" required>
                            
                            
                        
                    </div>
                    <br>

                    <div class="condición-details">
                        <label> <b> Condición:  </b>  </label>
                        <select name="customer_type">
                            <option value="Comprador">Comprador</option>
                            <option value="Vendedor">Vendedor</option>
                            
                        </select>
                    </div>

                    <div class="button">
                        <input type="submit" value="Crear Usuario">
                    </div>
                </form>

        </main>



</body>

</html>