<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Editar Usuario</title>
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <div class="container">
                <div class="title">Editar perfil</div>
                <form action="/user/<%= customer.customer_id %>/update?_method=put" method="post"
                    enctype="multipart/form-data">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details"> Nombre completo</span>
                            <input name="customer_name" type="text" id="name" placeholder="Enter your name" required
                                value="<%= customer.customer_name%>">
                            <p class="error" style="color: red"></p>
                        </div>

                        <div class="input-box">
                            <span class="details">Apellido</span>
                            <input name="customer_lastName" id="lastName" type="text" placeholder="Enter your surname"
                                required value="<%= customer.customer_lastName%>">
                            <p class="error" style="color: red"></p>
                        </div>

                        <div class="input-box">
                            <span class="details">Correo electronico</span>
                            <input name="customer_email" id="emal" type="text" placeholder="Enter your email" required
                                value="<%= customer.customer_email%>">
                            <p class="error" style="color: red"></p>
                        </div>

                        <div class="input-box">
                            <span class="details">Teléfono</label>
                                <input name="customer_phone" id="phone" type="tel" placeholder="Enter your phonenumber"
                                    value="<%= customer.customer_phone%>">
                                <p class="error" style="color: red"></p>
                        </div>

                        <div class="input-box">
                            <span class="details">Ingresa tu foto</span>
                            <input type="file" type="hidden" name="image" id="image" value="<%=customer.image%>">
                            <p class="error" style="color: red"></p>
                        </div>


                        <div class="condición-details">
                            <label> <b>Pais de nacimiento: </b> </label>
                            <select name="customer_country" id="country" value="<%=customer.customer_country%>">
                                <option value="Argentina">Argentina</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Brasil">Brasil</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Chile">Chile</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Peru</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Otro">Otro</option>
                            </select>
                            <p class="error" style="color: red"></p>
                        </div>
                        <br>
                        <div class="condición-details">
                            <label> <b>Sexo: </b> </label>
                            <select name="customer_gender" id="gender" value="<%=customer.customer_gender%>">
                                <option value="Femenino">Femenino</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                                <p class="error" style="color: red"></p>
                            </select>
                        </div>
                        <br>
                        <div class="condición-details">
                            <label>
                                <b>Fecha de Nacimiento: </b>
                            </label>
                            <input type="date" name="customer_birthdate" id="birthdate" required
                                value="<%= customer.customer_birthdate%>">
                            <p class="error" style="color: red"></p>
                        </div>
                    </div>
                    <div class="condición-details">
                        <label> <b> Condición: </b> </label>
                        <select name="customer_type" id="type" value="<%= customer.customer_%>">
                            <option value="Comprador">Comprador</option>
                            <% if (isLogged && userLogged.customer_type === "Vendedor"    ) {  %>
                                <option value="Vendedor">Vendedor</option>
                                <% } %>
                        </select>
                        <p class="error" style="color: red"></p>
                    </div>

                    <div class="button">
                        <input type="submit" value="Guardar cambios" id="submit-btn">
                    </div>
            </div>
            <script src="/js/registerForm.js"></script>
            </form>
        </main>

        <script src="/js/script.js"></script>
</body>

</html>